apiVersion: apps/v1
kind: Deployment
metadata:
  name: vote
spec:
  selector:
    matchLabels:
      app: vote
  replicas: 1
  template:
    metadata:
      labels:
        app: vote
    spec:
      containers:
      - name: vote
        image: iamnilanjan3/vote:$tag
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: vote-service
  labels:
    app: vote
spec:
  ports:
  - port: 80
    targetPort: 80
  type: LoadBalancer
  selector:
     app: vote   
